@import '../../shared/styles/colors';

.todo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    height: 75%;
    position: absolute;
    top: 10%;
    left: 30%;

    &>*+*{
        margin-top: 3vh;
    }

    .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1{
            text-transform: uppercase;
            color: $very-gight-gray;
            font-size: 1.5rem;
            line-height: 2rem;
            letter-spacing: 0.35em;
        }

        img{
            cursor: pointer;
        }
    }

    .content{
        background-color: azure;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
}