@import '../../shared/styles/colors';

.todo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    height: 90%;
    position: absolute;
    top: 10%;
    left: 30%;

    &>*+*{
        margin-top: 7vh;
    }

    .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1{
            text-transform: uppercase;
            color: $very-gight-gray;
            font-size: 1.5rem;
            line-height: 2rem;
            letter-spacing: 0.35em;
        }

        img{
            cursor: pointer;
        }
    }

    .content{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;

        &>*+*{
            margin-top: 2vh;
        }
    
        todo-app-new-task{
            width: 100%;
        }
        todo-app-task-list{
            width: 100%;
            height: 100%;
        }
    }

    .footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5%;
        font-size: 0.75rem;
        line-height: 1rem;
        color: $dark-grayish-blue;
    }
}